@use "../abstracts/variables" as *;

/* ......../ Button /.......... */

%btn {
    border: none;
    padding: $size-300;
    min-width: $size-700;
    border-radius: $size-100;
    font-family: $ff-secondary;

    &:hover {
        background: $clr-yellow-400;
        transform: scale(.98);
    }
  }

.btn-primary {
    @extend %btn;
    background: $clr-yellow;
    color: $clr-white;
}

.btn-load-more {
  @extend %btn;
  width: 200px;
  background: $clr-gray-800;
  color: $clr-white;
  margin-bottom: $size-300;
}
