// Color
$clr-white: #fff;

$clr-gray: #494949;
$clr-gray-800: #2c2c2c;

$clr-red-400: #ea4f5c;
$clr-red: #E63946;

$clr-blue-100: #F1FAEE;
$clr-blue-200: #A8DADC;
$clr-blue-400: #457B9D;
$clr-blue-800: #1D3557;


//Font
$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Fredoka One', cursive;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

// 12px
$fs-300: 0.75;
// 14px
$fs-400: 0.875rem;
// 15px
$fs-500: 0.9375rem;
// 16px
$fs-600: 1rem;
// 19px
$fs-650: 1.2rem;
// 24px
$fs-700: 1.5rem;
// 32px
$fs-750: 2rem;
// 40px
$fs-800: 2.5rem;
// 56px
$fs-900: 3.5rem;
// 80px
$fs-950: 5rem;


// 4px
$size-100: 0.25rem;
// 8px
$size-200: 0.5rem;
// 12px
$size-300: 0.75rem;
// 16px
$size-400: 1rem;
// 24px
$size-500: 1.5rem;
// 32px
$size-600: 2rem;
// 40px
$size-650: 2.5rem;
// 48px
$size-700: 3rem;
// 64px
$size-800: 4rem;
// 80px
$size-900: 5rem;
